/*
----------------------------------------------
	1. div.tmkm-amazon-view
----------------------------------------------
*/
div.tmkm-amazon-view {
	clear: both;
	margin: 1em auto;
	padding: 1em;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	p a{
		&:link, &:visited{
			text-decoration: none;
		}
		&:hover{
			text-decoration: underline;;
		}
	}
	
	.tmkm-amazon-title{
		font-size: 1.2em;
		line-height: 1.2;
		font-weight: bold;
	}
	.tmkm-amazon-img img {
		float: right;
		margin: 0 0 1em 1em;
		padding: 0.5em;
		border: solid 1px #C2C2C2;
		background-color: #fff;
        max-width: 200px;
        height: auto;
	}
	p {
		margin: 0.5em 0;
        font-size: 0.85em;
		em {
			font-weight: bold;
		}
        span.label{
			display: inline-block;
            width: 8em;
        }
		&.vendor{
			clear: both;
			font-size: 0.85em;
			text-align: right;
			a{
				color: #999;
			}
		}
		&.description{
			font-size: 0.85em;
			line-height: 1.2;
		}
        &.additional-description{
            font-size: 1em;
            line-height: 1.4;
            margin: 1em 0;
        }
        &.review{
            clear: both;
            iframe{
                width: 100%;
                height: 180px;
            }
        }
	}
	&:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	hr.tmkm-amazon-clear {
		clear: both;
		border: none;
		height: 0;
		margin: 0;
		padding: 0;
		visibility: hidden;
	}
}
