/*!
 This should not be removed.
 */

/*
----------------------------------------------
	1. div.tmkm-amazon-view
----------------------------------------------
*/
.tmkm-amazon {
	&-view {
		clear: both;
		margin: 2em auto;
		padding: 1em;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		font-size: 1rem;

		p a {
			&:link, &:visited {
				text-decoration: none;
			}

			&:hover {
				text-decoration: underline;;
			}
		}
	}


	&-row {
		display: flex;
		margin-bottom: 1em;
		justify-content: flex-start;
	}

	&-label {
		display: inline-block;
		width: 8em;
	}

	&-title {
		font-size: 1.2em;
		line-height: 1.2;
		font-weight: bold;
	}

	&-category {
		display: inline-block;
		margin-left: 1em;
		background-color: #ddd;
		border-radius: 3px;
		color: inherit
	}

	&-img{}

	&-image {
		float: right;
		margin: 0 0 1em 1em;
		padding: 0.5em;
		border: solid 1px #C2C2C2;
		background-color: #fff;
		max-width: 200px;
		height: auto;
	}

	p {

		em {
			font-weight: bold;
		}

		&.description {
			font-size: 0.85em;
			line-height: 1.2;
		}

		&.additional-description {
			font-size: 1em;
			line-height: 1.4;
			margin: 1em 0;
		}
	}

	&-vendor {
		clear: both;
		font-size: 0.85em;
		text-align: right;

		a {
			color: #999;
		}
	}

}
