@mixin hamazon-admin-sp( $break-point: 782px ) {
  @media only screen and (max-width: $break-point){
    @content;
  }
}

.hamazon{
  &-wrapper{
    width: 100%;
    display: table;
    margin-top: 20px;
    @include hamazon-admin-sp(){
      display: block;
    }
  }
  &-row{
    display: table-row;
    @include hamazon-admin-sp(){
      display: block;
    }
  }
  &-main{
    display: table-cell;
    padding-right: 20px;
    vertical-align: top;
    @include hamazon-admin-sp(){
      padding-right: 0;
      margin-bottom: 20px;
      display: block;
    }
    h2{
      color: #888;
      text-shadow: 1px 1px 2px #fff;
      border-top: 3px solid #eee;
      margin-top: 30px;
      padding-top: 30px;
    }
    input + h2 {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }

  }

  &-sidebar{
    $border: 3px double #ddd;
    display: table-cell;
    width: 300px;
    padding-left: 20px;
    padding-bottom: 40px;
    border-left: $border;
    vertical-align: top;
    @include hamazon-admin-sp(){
      width: auto;
      display: block;
      padding-left: 0;
      padding-top: 20px;
      border-left: none;
      border-top: $border;
    }
    &-banner{
      width: 100%;
      height: auto;
    }

    .mc-field-group{
      box-sizing: border-box;
      padding: 5px 10px 5px 0;
      label{
        display: block;
        color: #888;
        .asterisk{
          color: red;
        }
      }
      input[type=text],
      input[type=email]{
        box-sizing: border-box;
        width: 100%;
      }
    }

    .mc-field-2col{
      &:after{
        content: "";
        display: block;
        height: 0;
        clear: both;
      }
      & > div{
        width: 50%;
        float: left;
      }
    }

    &-list{
      margin: 10px 0;
      padding-left: 20px;
      li{
        margin: 5px 0;
        list-style: outside disc;
      }
    }

  }

  &-inline-block{
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 3px 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
  }
}