/*!
 * @deps hamazon-editor
 */

@import "components/no_content";

.hamazon-block{

  &-content{
    min-height: 200px;
    position: relative;
    @import "hamazon";
  }

  &-backdrop{
    position: absolute;
    transition: background-color .3s linear;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 10;
    background-color: rgba( 0, 0, 0, 0 );
    &:hover{
      background-color: rgba( 0, 0, 0, .6 );
    }
  }

  &-modal.components-modal__frame{
    width: 95%;
  }

  &-trigger{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    -webkit-appearance: none;
    display: block;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 0.5em 1em;
    color: #fff;
    background-color: transparent;
    &:hover{
      border-color: #fff;
      background-color: #fff;
      color: #000;
    }
  }

  &-rich-text{
    padding-top: 10px;
  }

}
